*{
    padding: 0;
    margin: 0;
}

body {
    /* margin: 0px 250px; */
}

/* Game Board Container */
.container{
    display: grid;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 20px 20px;
  
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
 
}

.box {
    width: 100%;
    height: 100%;
    background: #c95656;
    border-radius: 10px;
    cursor: pointer;
}

.board-table{
    width: 665px;
    height: 665px;
    padding: 30px 30px;
    background-color: blue;
    border-radius: 20px;
}

.score-restart{
    margin: 10px 400px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.apple {
    background-color: red;
}

.banana {
    background-color: yellow;
}

.strawberry{
    background-color: sandybrown;
}

.peach{
    background-color: blue;
}

.grape {
    background-color: pink;
}

.kiwi {
    background-color:green;
}

.papaya{
    background-color: honeydew;
}

.orange{
    background-color:orange;
}
/* Text CSS */
h1{
    width: 100%;
    text-align: center;
}

p{
    display: inline;
}