* {
  padding: 0;
  margin: 0;
}

:root {
  --card-color: #2a3d4a;
  --card-selected: #05b3e5;
  --card-found: #00d0ba;
}
/* Game Board Container */
.container {
  display: grid;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-columns: 150px 150px 150px 150px;
  grid-gap: 20px 20px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display:flex;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
}

.card-cover{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  display:flex;
  background-color:var(--card-color);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.board-table {
  width: 665px;
  height: 665px;
  padding: 30px 30px;
  background-color: #00bcc0;
  border-radius: 20px;
}

.score-restart {
  margin: 10px 400px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}


.box img {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor:none;
  z-index: 0;
}

/* Text CSS */
h1 {
  width: 100%;
  text-align: center;
}

p {
  display: inline;
}
