* {
  padding: 0;
  margin: 0;
}

:root {
  --card-color: #2a3d4a;
  --card-selected: #05b3e5;
  --card-found: #00d0ba;
}
/* Game Board Container */
.container {
  display: grid;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-columns: 150px 150px 150px 150px;
  grid-gap: 20px 20px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
 
  padding: 20px 0px;
}



.box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display:flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.card-cover{
  
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  display:flex;
  background-color:var(--card-color);
  justify-content: center;
  align-items: center;
 
  transform-style: preserve-3d;
}

@keyframes flip{
  to{
     transform:rotateY(360deg);
  }
}

.board-table {
  align-self: center;
  width: 665px;
  height: 665px;
  padding: 30px 30px;
  background-color: #00bcc0;
  border-radius: 20px;
}

.score-restart {
  margin: 10px 400px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}


span img {
  display:none;
  width: 60px;
  height: 60px;
  cursor:none;
   z-index: 0;  
  transform-style: preserve-3d;
 
}


/* Text CSS */
h1 {
  width: 100%;
  text-align: center;
}

p {
  display: inline;
}
